PORT=5001
DATABASE_URL="postgresql://postgres:root@localhost:5432/biblioteca?schema=public"
JWT_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
NODE_ENV="development"
